.DragAreaDiv {
    max-height: fit-content;
    max-width: fit-content;
}

.teste {
    height: 10vh;
    width: 10vh;
}

.GridButton2 {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin-right: 8vw;
    background-color: brown;
}

.button {
    position: fixed;
    bottom: 0;
    right: 0;
}