html, body {
  margin:0px;
  height:100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #282c34;
  align-content: center;
  justify-content: center;
  gap: 10vmin;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden

}

/* 
* {
  background: rgb(0 100 0 / 0.1) !important;
}
*/